@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

h5 {
  font-size: 1rem; }

.nav {
  background-color: none;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px; }
  .nav__ul {
    display: flex;
    list-style: none; }
    .nav__ul li {
      margin-top: 1rem;
      padding: 0 10px; }
      .nav__ul li a {
        font-family: "Poppins", sans-serif;
        color: white;
        text-decoration: none;
        font-weight: 500; }
  .nav .nav__ul li a:hover {
    color: #2f9757; }

.nav__burger-menu {
  display: none;
  cursor: pointer; }
  .nav__burger-menu .nav__burger-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative; }
    .nav__burger-menu .nav__burger-icon::before, .nav__burger-menu .nav__burger-icon::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: transform 0.3s ease; }
    .nav__burger-menu .nav__burger-icon::before {
      top: -10px; }
    .nav__burger-menu .nav__burger-icon::after {
      top: 10px; }

@media screen and (max-width: 768px) {
  .nav__ul-hidden {
    display: none; }
  .nav__burger-menu {
    position: absolute;
    right: 4rem;
    display: block; } }

@media screen and (max-width: 425px) {
  .nav__burger-menu {
    right: 2rem; } }

.navSecondary {
  background-color: #486161;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px; }
  .navSecondary__ul {
    display: flex;
    list-style: none; }
    .navSecondary__ul li {
      padding: 0 10px; }
      .navSecondary__ul li a {
        font-family: "Poppins", sans-serif;
        color: white;
        text-decoration: none;
        font-weight: 500; }
  .navSecondary .nav__ul li a:hover {
    color: #2f9757; }

.nav__burger-menu {
  display: none;
  cursor: pointer; }
  .nav__burger-menu .nav__burger-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative; }
    .nav__burger-menu .nav__burger-icon::before, .nav__burger-menu .nav__burger-icon::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: transform 0.3s ease; }
    .nav__burger-menu .nav__burger-icon::before {
      top: -10px; }
    .nav__burger-menu .nav__burger-icon::after {
      top: 10px; }

@media screen and (max-width: 768px) {
  .nav__ul-hidden {
    display: none; }
  .nav__burger-menu {
    position: absolute;
    right: 4rem;
    display: block; } }

@media screen and (max-width: 425px) {
  .nav__burger-menu {
    right: 2rem; } }

.footer {
  background-color: bisque;
  margin-top: 4rem; }
  .footer ul {
    margin: auto;
    list-style: none;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer ul li {
      padding: 6rem 2%; }
      .footer ul li a {
        text-decoration: none;
        color: black; }

@media screen and (max-width: 600px) {
  .footer {
    background-color: bisque;
    margin-top: 3rem; }
    .footer ul {
      padding: 2.5rem 0;
      margin: auto;
      list-style: none;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer ul li {
        height: auto;
        padding: 1rem; }
        .footer ul li a {
          text-decoration: none;
          color: black; } }

.header {
  background-image: url(../Resorces/bg_image_section1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 1900px;
  margin: auto; }

.header .headerContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 2%; }

.header .headerContainer__h1 {
  color: white;
  font-size: 2.5rem;
  text-align: start;
  width: 100%; }

.header .headerContainer__flexbox {
  padding-top: 44%;
  justify-content: center;
  align-items: center;
  text-align: end; }

.header .headerContainer__flexbox .text {
  color: white;
  font-size: 1.3rem;
  grid-area: text;
  text-align: start; }

.header .headerContainer__flexbox .tagsCont {
  padding-left: 1rem;
  margin-top: .8rem;
  gap: 1rem; }

.header .headerContainer__flexbox .tagsCont .tags {
  width: auto;
  padding: 1rem 5%;
  background-color: rgba(255, 255, 255, 0.6);
  align-self: center;
  text-align: center;
  border-radius: 6px; }

.header .headerContainer__flexbox .tagsCont .tags:hover {
  background-color: white; }

.header .headerContainer__flexbox .cta {
  font-weight: 600;
  width: 65%;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  border: none; }

.header .headerContainer__flexbox .cta:hover {
  color: white;
  background-color: black;
  transition: 0.4s ease; }

.header .headerContainer .exploreText {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
  text-align: center; }

@media screen and (max-width: 768px) {
  .header .headerContainer {
    height: 100vh;
    padding: 2%; }
  .header .headerContainer__h1 {
    text-align: center; }
  .header .headerContainer__flexbox {
    padding-top: 90%;
    text-align: center; }
  .header .headerContainer__flexbox .text {
    width: 90%;
    margin: auto; }
  .header .headerContainer__flexbox .cta {
    width: 90%;
    margin-top: 3%; }
  .header .headerContainer .exploreText {
    display: none; } }

@media screen and (max-width: 425px) {
  .header .headerContainer__h1 {
    font-size: 2.5rem;
    text-align: center;
    width: 100%; }
  .header .headerContainer .row {
    margin: auto; }
  .header .headerContainer__flexbox {
    padding-top: 90%;
    justify-content: center;
    /* Centrado horizontal */
    align-items: center;
    /* Centrado vertical */
    text-align: center; }
    .header .headerContainer__flexbox .columna1_flex {
      width: 100%; }
    .header .headerContainer__flexbox .text {
      font-size: 1rem;
      grid-area: text;
      text-align: center;
      width: 90%;
      margin: auto; }
    .header .headerContainer__flexbox .tagsCont {
      margin: auto;
      margin-top: .5rem;
      padding: 0%;
      justify-content: center; }
      .header .headerContainer__flexbox .tagsCont .tags {
        width: auto;
        padding: .6rem 1rem; }
    .header .headerContainer__flexbox .cta {
      font-weight: 600;
      font-size: 1rem; }
  .header .headerContainer .exploreText {
    display: none; } }

.collections {
  width: 80%;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "tittle tittle" "box1 box2" "box1 box3"; }
  .collections__H2 {
    grid-area: tittle;
    text-align: center;
    margin-top: 4rem; }
  .collections__box1 {
    width: 90%;
    grid-area: box1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 1.5rem 3rem 1.5rem; }
  .collections__box2 {
    width: 90%;
    grid-area: box2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 1.5rem 0 1.5rem; }
  .collections__box3 {
    align-self: self-end;
    width: 90%;
    grid-area: box3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem 1.5rem 3rem 1.5rem; }
  .collections__boxes__img {
    width: 100%;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6); }
  .collections__boxes__text {
    margin-top: 1rem; }
  .collections__boxes button {
    margin-top: 1rem;
    height: 3rem;
    padding: .6rem 2rem;
    background-color: #6E9595;
    color: white;
    border-radius: 6px;
    border: none; }

@media screen and (max-width: 768px) {
  .collections {
    display: flex;
    flex-direction: column; }
    .collections__boxes {
      margin: auto;
      padding: 2rem 0 0 0; }
      .collections__boxes__img {
        height: 300px;
        width: 100%;
        image-rendering: auto;
        object-fit: cover;
        object-position: 50% 45%; } }

@media screen and (max-width: 425px) {
  .collections__boxes {
    justify-content: center;
    width: 100%; }
    .collections__boxes__text {
      width: 100%; }
    .collections__boxes button {
      width: 100%; } }

.products {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
  margin-top: 4rem; }
  .products__parallax {
    background-image: url("../Resorces/image1_section3.png");
    min-height: 320px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }
  .products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1rem; }
    .products__container .cards {
      flex: 1 1 calc(23% - 2rem);
      margin: 1rem;
      text-align: center; }
      .products__container .cards h5 {
        text-align: center; }
  .products h3 {
    margin: auto;
    text-align: center;
    padding: 0%;
    max-width: 80%; }
  .products .cta {
    font-weight: 600;
    padding: 1rem 4rem;
    background-color: black;
    margin: 1.5rem auto;
    border-radius: 6px;
    border: none;
    color: white; }
    .products .cta:hover {
      color: black;
      background-color: white;
      transition: 0.4s ease;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 1260px) {
  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0; }
  .products__container .cards {
    flex-basis: calc(33.33% - 2rem); } }

@media screen and (max-width: 576px) {
  .products__parallax {
    background-image: url("../Resorces/image1_section3.png");
    min-height: 320px;
    width: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }
  .products__container {
    margin: auto; }
    .products__container .cards {
      flex-basis: calc(50% - 2rem);
      margin: 0%;
      margin-top: 1rem; } }

.cntndr {
  margin: auto; }
  .cntndr__titulo h2 {
    text-align: center;
    margin: 3rem 0; }
  .cntndr__razones {
    align-self: center; }
    .cntndr__razones .razoness {
      align-items: center;
      margin-left: auto;
      width: 60%; }
      .cntndr__razones .razoness .iconsCntndr {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: bisque; }
        .cntndr__razones .razoness .iconsCntndr .icons {
          text-align: center;
          width: auto;
          margin: 0%;
          font-size: xx-large;
          line-height: 200%; }
      .cntndr__razones .razoness .textos {
        width: auto;
        padding-left: 2rem; }
        .cntndr__razones .razoness .textos h4 {
          width: 90%; }
        .cntndr__razones .razoness .textos p {
          width: 90%; }
  .cntndr .cntndr__Img {
    text-align: center;
    height: 100%;
    width: 100%; }
    .cntndr .cntndr__Img .whyUsImage {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%; }

@media screen and (max-width: 1470px) {
  .cntndr .razoness {
    margin: auto;
    width: 90%; } }

@media screen and (max-width: 1055px) {
  .cntndr {
    flex-direction: column;
    width: 100%; }
    .cntndr .cntndr__razones {
      width: 90%; }
      .cntndr .cntndr__razones .razoness {
        position: relative; }
        .cntndr .cntndr__razones .razoness .iconsCntndr {
          align-self: start;
          position: absolute;
          left: 50%;
          transform: translateX(-50%); }
          .cntndr .cntndr__razones .razoness .iconsCntndr .icons {
            line-height: 200%; }
        .cntndr .cntndr__razones .razoness .textos {
          width: 90%;
          padding-left: 0;
          text-align: center; }
          .cntndr .cntndr__razones .razoness .textos h4 {
            margin: auto;
            margin-top: 5rem; }
          .cntndr .cntndr__razones .razoness .textos p {
            font-size: medium;
            margin: auto;
            margin-bottom: 2rem; }
    .cntndr .cntndr__img {
      width: 90%;
      margin: auto;
      text-align: center; }
      .cntndr .cntndr__img img {
        width: 90%; } }

.subscribe {
  justify-content: center;
  margin-top: 4rem;
  border-radius: 5%; }
  .subscribe .subscribe__inputsCntndr {
    padding-left: 2rem;
    padding-top: 2rem;
    height: 100%;
    width: 90%;
    background-image: url("../Resorces/image1_section6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right; }
    .subscribe .subscribe__inputsCntndr input {
      margin-bottom: 1.5rem;
      display: block;
      width: 50%;
      height: 2.8rem;
      border-radius: 4px;
      border: none;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1); }
    .subscribe .subscribe__inputsCntndr .cta {
      font-weight: 600;
      padding: 1rem 4rem;
      background-color: black;
      margin: 1.5rem auto;
      border-radius: 6px;
      border: none;
      color: white; }
    .subscribe .subscribe__inputsCntndr .cta:hover {
      color: black;
      background-color: white;
      transition: 0.4s ease;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 768px) {
  .subscribe .subscribe__inputsCntndr {
    background-position: 65% 100%; } }

@media screen and (max-width: 425px) {
  .subscribe .subscribe__inputsCntndr input {
    width: 90%; } }

.reviews {
  margin-top: 3rem; }
  .reviews h2 {
    margin: auto; }
  .reviews .reviewCardsCntndr {
    justify-content: center;
    width: 90%;
    margin: auto; }
    .reviews .reviewCardsCntndr .reviewCards {
      width: 90%;
      margin: 2rem 1rem 0 1rem;
      background-color: antiquewhite;
      border-radius: 5%;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1); }
      .reviews .reviewCardsCntndr .reviewCards img {
        margin-top: 1rem; }

@media screen and (max-width: 768px) {
  .reviews .reviewCardsCntndr .reviewCards {
    width: 90%; } }

.about_header {
  margin: auto;
  margin-top: 3rem;
  text-align: center; }
  .about_header h5 {
    max-width: 700px;
    margin: auto; }
  .about_header img {
    margin-top: 1rem;
    height: auto;
    max-width: 1200px;
    width: 90%; }
  .about_header .rowAllBoxes {
    text-align: left;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-between; }
    .about_header .rowAllBoxes .boxes {
      width: 32%;
      border: solid 0.5px rgba(0, 0, 0, 0.4);
      border-radius: .8rem;
      padding: .5rem 0;
      align-items: center; }
    .about_header .rowAllBoxes .img_container {
      padding: 0%;
      padding-left: 3%; }
      .about_header .rowAllBoxes .img_container img {
        height: auto;
        border-radius: 5%;
        width: 100%; }
    .about_header .rowAllBoxes .text_container {
      padding: 0 3%; }
      .about_header .rowAllBoxes .text_container h4 {
        font-size: larger;
        margin: 0;
        margin-bottom: .4rem;
        padding-top: 0%; }
      .about_header .rowAllBoxes .text_container p {
        font-size: 10.5pt;
        margin: 0%; }

@media screen and (max-width: 1055px) {
  .about_header .rowAllBoxes .boxes {
    flex-direction: column;
    text-align: center; }
    .about_header .rowAllBoxes .boxes h4 {
      margin-top: 1rem; }
  .about_header .rowAllBoxes .img_container {
    padding: 0%;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-content: center; }
    .about_header .rowAllBoxes .img_container img {
      width: 150%;
      position: relative;
      left: 50%;
      transform: translateX(-50%); } }

@media screen and (max-width: 630px) {
  .about_header .rowAllBoxes {
    flex-direction: column; }
    .about_header .rowAllBoxes .boxes {
      width: 100%;
      margin-bottom: 2%; }
      .about_header .rowAllBoxes .boxes h4 {
        margin-top: 0;
        font-size: 16pt; }
      .about_header .rowAllBoxes .boxes p {
        font-size: 12pt; }
    .about_header .rowAllBoxes .img_container {
      display: none;
      padding: 0;
      width: 40%; }
      .about_header .rowAllBoxes .img_container img {
        height: auto;
        border-radius: 5%;
        width: 100%;
        margin: 0%; } }

.contactUsSection {
  text-align: right;
  margin-top: 3rem; }
  .contactUsSection .imgContainer {
    align-self: center; }
    .contactUsSection .imgContainer img {
      height: auto;
      width: 90%;
      padding-left: 2rem; }
  .contactUsSection .formContainer {
    text-align: left;
    justify-items: center;
    padding-left: 1rem; }
    .contactUsSection .formContainer h5 {
      margin-top: 1rem; }
    .contactUsSection .formContainer p {
      width: 70%; }
    .contactUsSection .formContainer input, .contactUsSection .formContainer textarea {
      margin-bottom: 1rem;
      display: block;
      width: 70%;
      height: 2.8rem;
      border-radius: 4px;
      border: solid 0.4px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
      padding-left: 1rem; }
    .contactUsSection .formContainer textarea {
      height: 5rem;
      padding-top: .5rem; }
    .contactUsSection .formContainer button {
      display: block;
      margin-top: 1rem;
      padding: 1rem;
      font-weight: 600;
      padding: 1rem 4rem;
      background-color: black;
      border-radius: 6px;
      border: none;
      color: white; }
      .contactUsSection .formContainer button:hover {
        color: black;
        background-color: white;
        transition: 0.4s ease;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 991px) {
  .contactUsSection {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 3rem; }
    .contactUsSection .imgContainer {
      padding: 0;
      text-align: center;
      width: 100%; }
      .contactUsSection .imgContainer img {
        width: 100%;
        padding: 0%; }
    .contactUsSection .formContainer {
      margin-top: 2rem;
      align-self: center;
      padding: 1rem 0;
      width: 100%;
      text-align: center; }
      .contactUsSection .formContainer input, .contactUsSection .formContainer textarea, .contactUsSection .formContainer p {
        width: 100%; }
      .contactUsSection .formContainer h5 {
        margin-top: 1.5rem;
        text-align: left; }
      .contactUsSection .formContainer button {
        margin: auto;
        width: 100%; } }
