.about_header{
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    img{
        height: auto;
        max-width: 1200px;
        width: 90%;
    }

    .rowAllBoxes{
        justify-content: center;
        text-align: left;
        max-width: 1200px;
        margin: auto;
        gap: 2%;

        .boxes{
            width: 33%;
        }

        .img_container{
            width: 2fr;
            img{
                height: auto;
                width: 60%;
            }
        }

    }
}